<div>
<article class="panel panel-info">
<header class="panel-heading">Group Form</header>
<div ng-controller= "groupController as $ctrl">
   <br>
      <div ng-if="$ctrl.enable=='0'"> 
        <form ng-submit="$ctrl.save()">
                <div ng-if="displayMessage" class="alert alert-danger" role="alert">Tiene que llenar todos los datos!</div>             
                <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" ng-model="$ctrl.groupName" class="form-control" id="groupName" placeholder="name">
                </div>
                <div class="form-group">
                <label for="groupLogo">Group Logo</label>
                <input type="text" ng-model="$ctrl.groupLogo" class="form-control" id="groupLogo" placeholder="link">
                </div>
                <div class="form-group">
                <button ng-click="areEmptyFields()" type="submit" class="btn btn-success">Save</button>
                </div>
        </form>
    </div>

      <div ng-if="$ctrl.enable=='1'">
        <form ng-submit="$ctrl.updateGroup()">
          <div >
          <input  type="hidden"  ng-model="$ctrl.groupEdit.id" ng-model-options="{ updateOn: '{{$ctrl.groupEdit.id}}' }" class="form-control">
          <div class="form-group">
            <label for="groupName">Edit Group Name</label>
            <input type="text" ng-value="'{{$ctrl.groupEdit.name}}'" ng-model="$ctrl.groupEdit.name" class="form-control" id="editName">
          </div>
          <div class="form-group">
            <label for="logo">Edit Group Logo</label>
            <input type="text" ng-value="'{{$ctrl.groupEdit.logo}}'" ng-model="$ctrl.groupEdit.logo" class="form-control" id="editLogo">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Update</button>
          </div>
          </div>
        </form>
      </div>

       <div ng-if="$ctrl.enable=='3'"> 
        <form ng-submit="$ctrl.()">
                <div ng-if="displayMessage" class="alert alert-danger" role="alert">Tiene que llenar todos los datos!</div>             
                <div class="form-user">
                <label for="firstName">First Name</label>
                <input type="text" ng-model="$ctrl.fisrtName" class="form-control" id="fisrtName" placeholder="firts name">
                </div>
                <div class="form-user">
                <label for="lastName">Last Name</label>
                <input type="text" ng-model="$ctrl.lastName" class="form-control" id="lastName" placeholder="last name">
                </div>
                <div class="form-user">
                <label for="email">Email</label>
                <input type="email" ng-model="$ctrl.email" class="form-control" id="email" placeholder="">
                </div>
                <div class="form-user">
                <label for="userName">User Name</label>
                <input type="text" ng-model="$ctrl.userName" class="form-control" id="userName" placeholder="">
                </div>
                <div class="form-user">
                <button ng-click="areEmptyFields()" type="submit" class="btn btn-success">Save</button>
                </div>
        </form>
       </div>

       <div ng-if="$ctrl.enable=='4'"> 
        <form ng-submit="$ctrl.()">
          
                <div class="form-user">
                <label for="firstName">First Name</label>
                <input type="text" ng-model="$ctrl.fisrtName" class="form-control" id="fisrtName" placeholder="firts name">
                </div>
                <div class="form-user">
                <label for="lastName">Last Name</label>
                <input type="text" ng-model="$ctrl.lastName" class="form-control" id="lastName" placeholder="last name">
                </div>
                <div class="form-user">
                <label for="email">Email</label>
                <input type="email" ng-model="$ctrl.email" class="form-control" id="email" placeholder="">
                </div>
                <div class="form-user">
                <label for="userName">User Name</label>
                <input type="text" ng-model="$ctrl.userName" class="form-control" id="userName" placeholder="">
                </div>
                <div class="form-user">
                <button ng-click="areEmptyFields()" type="submit" class="btn btn-success">Save</button>
                </div>
        </form>
       </div>
  
        <h3>Group List</h3>
        <div class="form-group">
                <select name="cars">
                <option value="volvo">User1</option>
                <option value="volvo">User2</option>
                <option value="volvo">User3</option>
                </select>
                <button type="submit" class="btn btn-success">Add Users</button>
        </div>

        <div  ng-if="$ctrl.enableTable=='0'">
        <table class="table table-condensed" >
        <thead>     
                <tr>
                <th>Name Group</th>
                <th>Logo</th> 
                <th>Owner</th>
                <th></th>
                </tr>
        </thead>
        <tbody>
                <tr ng-repeat="group in $ctrl.groups">
                <td>{{group.name}}</td>
                <td>{{group.logo}}</td>
                <td>{{group.owner.firstname}}{{" "}}{{group.owner.lastname}}</td>
                <td><button type="submit" class="btn btn-primary" ng-click="$ctrl.getGroup(group.id)">See Users</button></td>
                <td><button type="submit" class="btn btn-warning" ng-click="$ctrl.getGroup(group.id)">Edit Group</button></td>
                <td><button type="submit" class="btn btn-danger"  ng-click="$ctrl.deleteGroup(group.id)">Delete Group</button></td>               
                </tr>
        </tbody>        
        </table>
        </div>

        <div  ng-if="$ctrl.enableTable=='1'">
        <table class="table table-condensed" >
        <thead>     
                <tr>
                <th>First Name</th>
                <th>Last Name</th> 
                <th>Email</th>
                <th>User Name</th>
                </tr>
        </thead>
        <tbody>
                <tr ng-repeat="group in $ctrl.groups">
                <td>{{group.name}}</td>
                <td>{{group.logo}}</td>
                <td>{{group.owner.firstname}}{{" "}}{{group.owner.lastname}}</td>
                <td><button type="submit" class="btn btn-primary">See Users</button></td>
                <td><button type="submit" class="btn btn-warning" ng-click="$ctrl.getGroup(group.id)">Edit Group</button></td>
                <td><button type="submit" class="btn btn-danger"  ng-click="$ctrl.deleteGroup(group.id)">Delete Group</button></td>               
                </tr>
        </tbody>        
        </table>
        </div>
</div>
</article>
</div>
<!--h1>USER LIST BY GROUP</h1>
<button type="button" class="btn btn-success">Create Group</button>
<table class="table table-condensed" >
        <tr>
        <th>First Name</th>
        <th>Last Name</th> 
        <th>Email</th>
        <th>User Name</th>
        <th></th>
        </tr>
        <tr ng-repeat="group in $ctrl.groups">
        	<td>{{group.name}}</td>
        	<td>{{group.logo}}</td>
                <td>{{group.owner.firstName}}{{" "}}{{group.owner.lastName}}</td>
                <td><button type="button" class="btn btn-primary">See Users</button></td>
                <td><button type="button" class="btn btn-warning">Edit Group</button></td>
                <td><button type="button" class="btn btn-danger">Delete Group</button></td>
                
        </tr>
</table>
</div-->    