  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <message-list></message-list>
                    
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <message-area></message-area>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <user-list></user-list>
                </div>
            </div>
        </div>
    </div>
  </div>
